[Unit]
Description=Bliss Demo Session ({{ vm_context }})
After=network.target bliss-server-{{ vm_context }}.service
Wants=bliss-server-{{ vm_context }}.service

[Service]
Type=simple
User={{ service_user }}
Group=esrfusers
WorkingDirectory={{ install_base_path }}/bliss

# server bypasses all tmux logic in bliss shell and runs the
# session headlessly — starts the BLISS session and REST API with no terminal.
ExecStart=/bin/bash -c 'source {{ install_base_path }}/miniconda/bin/activate bliss_dev && bliss-demo-session --server'

# Give demo servers time to start
ExecStartPre=/bin/sleep 10

# Restart policy
Restart=on-failure
RestartSec=15

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bliss-session-{{ vm_context }}

[Install]
WantedBy=multi-user.target
